div#image-slider {
	position: relative;
}

p.slider-navs.slider-navs {

	&-prev, &-next {
		display: inline-flex;
    	position: absolute;
    	top: 50%;
	}
	
	&-prev {
		left: 0px;
		background-color: #f1f1f1;
    	color: black;
	}
	
	&-next {
		right: 0px;
		background-color: #4CAF50;
    	color: white;
	}

}

.slider-navs {

	a {
		text-decoration: none;
    	display: inline-block;
    	padding: 8px 16px;
	}
	
	a:hover {
    	background-color: #ddd;
    	color: black;
	}
    
}

.round {
    border-radius: 50%;
}

.slider-parent {
	height: 400px;
	display: block;
}

.slider-container {
	height: 400px;
	display: block;
	
	img {
		height: 100%;
		width: 100%;
		display: block;
	}
}
